body{
	background-color: black;
	color: white;
}

h1{
	border-bottom-style: dotted;
	border-top-style: double;
	border-right-style: groove;
	border-left-style: solid;
	border-left-width: 10px;
	border-color: white;

	font-family: 'Arial', sans-serif;
}

p{
	padding: 5px;

	border-style: solid;
	border-style: dashed;
	border-style: dotted;
	border-style: double;
	border-style: ridge;
	border-style: groove;
	border-style: inset;
	border-style: outset;
	border-width: 5px;
	border-color: #00ff00;
	border-radius: 10px;

	font-family: "Arial","Ink Free", "MV Boli", sans-serif;
	text-decoration: normal;
}